@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --purple: #7c4ee4;
  --gray-100: #999999;
  --gray-200: #666666;
  --gray-300: #333333;
  --white: #ffffff;
  --raleway: "Raleway", sans-serif;
  --roboto: "Roboto", sans-serif;
  --font-64: 6.4rem;
  --font-52: 5.2rem;
  --font-48: 4.8rem;
  --font-32: 3.2rem;
  --font-26: 2.6rem;
  --font-24: 2.4rem;

  --font-body: 1.8rem;
  --font-body-s: 1.6rem;
  --radius: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: var(--roboto);
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--raleway);
}
/* ! Buttons component */
.btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.6rem 4.8rem;
  border-radius: var(--radius);
  line-height: 150%;
  font-style: normal;
}

.contact-us-purple-btn {
  background-color: var(--purple);
  color: var(--white);
  text-align: center;
  font-family: var(--raleway);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
}

/* ! utility classes start here */

.container {
  width: 100%;
  max-width: 1232px;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.center {
  display: grid;
  place-items: center;
}

/* ! utility classes end here */

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.8rem;
  background-color: var(--white);
}
.navbar .navbar-logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar .navbar-logo img {
  width: 4.4rem;
  height: 4.4rem;
}

.navbar-logo h3 {
  color: var(--gray-300);
  font-family: var(--raleway);
  font-size: 3.3rem;
  font-weight: 800;
}

.navbar-link {
  display: flex;
  align-items: center;
}

.navbar-link a {
  text-decoration: none;
  color: var(--gray-300);
  font-size: var(--font-body-s);
  font-family: var(--raleway);
  font-weight: 500;
  transition: all 0.3 ease-in;
}

.navbar-link a:first-child {
  margin-right: 5.8rem;
}
.navbar-link a:nth-child(2) {
  margin-right: 4.2rem;
}
.navbar-link a:nth-child(3) {
  margin-right: 3.5rem;
}

.navbar-link a:hover {
  color: var(--purple);
}

/* hero section start here */
.hero {
  width: 1440px;
  margin: 0 auto;
  background: var(--purple);
  padding: 8rem;
  gap: 4.8rem;
}
.hero-left {
  & h4 {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
    text-transform: capitalize;
    letter-spacing: 1.6px;
    margin-bottom: 3.7rem;
  }
  & h1 {
    width: 580px;
    color: var(--white);
    font-family: var(--raleway);
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 8.6rem;
    margin-bottom: 2.8rem;
  }
  & p {
    color: var(--white);
    width: 416px;
    font-size: 1.6rem;
    margin-bottom: 6.4rem;
  }
  & button {
    color: #373737;
    text-align: center;
    font-family: var(--raleway);
    font-size: 1.4rem;
    font-weight: 700;
    background-color: var(--white);
  }
}

.hero-right {
  width: 608px;
  height: 576px;
  & img {
    width: 100%;
    height: 100%;
  }
}
/* hero section end here */

/* how to section start here */
.how-to-section {
  background-image: url("../images/how-to.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 576px;
  border-radius: 1.6rem;
  width: 1232px;
  position: relative;
  margin-top: 13.1rem;
}

.how-to-content {
  background-color: rgb(222, 249, 249);
  width: 920px;
  border-radius: 1.6rem;
  position: absolute;
  right: 0;
  bottom: -112px;
  margin: 0 auto;
  padding: 3.2rem;

  & :first-child {
    display: flex;
    align-items: center;

    & h3 {
      color: var(--gray-300);
      font-family: var(--roboto);
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: 700;
      margin-right: 0.8rem;
    }
    & p {
      color: var(--gray-100);
      font-family: var(--roboto);
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
  & h4 {
    color: var(--gray-300);
    font-family: var(--raleway);
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.5rem;
    letter-spacing: -1px;
    margin-top: 2.5rem;
  }
  & > p {
    color: var(--gray-200);
    font-family: var(--roboto);
    font-size: 1.6rem;
    margin-top: 7px;
  }
  & > button {
    background: var(--white);
    border: 1px solid var(--purple);
    color: var(--purple);
    text-align: center;
    font-family: var(--roboto);
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 4.7rem;
  }
}

/* how to section end here */

/* recent post section start here */
#recent-post {
  margin-top: calc(8.7rem + 112px);

  & .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 9rem;

    & h3 {
      font-size: var(--font-48);
      font-weight: 700;
      line-height: 5rem;
      letter-spacing: -0.88px;
      color: var(--gray-300);
    }
    & button {
      background-color: var(--purple);
      color: var(--white);
      text-align: center;
      font-family: var(--roboto);
      font-size: 1.4rem;
      font-weight: 700;
    }
  }
}

.recent-post-div {
  display: flex;
  gap: 5.6rem;

  & .img {
    width: 712px;
    & img {
      width: 712px;
      height: 456px;
      flex-shrink: 0;
    }
  }

  .recent-content {
    & div:first-child {
      gap: 0.8rem;

      & h6 {
        color: var(--gray-300);
        font-family: var(--roboto);
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 1.3rem;
      }
      & p {
        color: #999;
        font-family: var(--roboto);
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
  & h4 {
    color: #333;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: -1px;
    margin-top: 2.7rem;
  }
  & p {
    color: #666;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 464px;
    margin-top: 1.3rem;
  }
  & button {
    color: #7c4ee4;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    background-color: var(--white);
    border: 1px solid var(--purple);
    margin-top: 8.1rem;
  }
}

.our-post {
  margin-top: 6.3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.post {
  .post-img img {
    width: 400px;
    height: 360px;
  }

  & .post-content {
    & .head {
      gap: 1rem;
      & > h6 {
        color: #333;
        font-family: var(--roboto);
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
      }

      & > p {
        color: #999;
        font-family: var(--roboto);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
      }

      & + h4 {
        color: #333;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: var(--raleway);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 31.992px;
        text-transform: capitalize;
      }
    }
  }
}

.post-content .text {
  color: #666;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 1.6rem;
}

.read-more {
  color: #7c4ee4;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-decoration-line: underline;
  margin-top: 1.9rem;
}
/* recent post section end here */
